@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");

body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background: rgb(2, 1, 2);
	background: linear-gradient(
		180deg,
		rgba(2, 1, 2, 1) 0%,
		rgba(8, 27, 51, 1) 50%,
		rgba(2, 1, 2, 1) 100%
	);

	font-family: "Major Mono Display", monospace;
}

svg {
	position: absolute;
	pointer-events: none;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	color: white;
}

.svg-container {
	height: 200px;
	width: 100%;
}

.time,
.name h1,
.name p {
	margin: 0.1em;
	font-weight: lighter;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 0 2em;
	box-sizing: border-box;
}

.info .name a {
	text-decoration: none;
	color: white;
	text-transform: lowercase;
}

.hidden {
	display: none !important;
}

.file-picker-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.file-picker-container p {
	display: flex;
	align-items: center;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	color: rgb(105, 250, 255);
}

.links {
	position: absolute;
	bottom: 1em;
}

.links a {
	text-decoration: none;
	color: white;
	text-transform: lowercase;
}
