@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");

body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background: rgb(2, 1, 2);
	background: linear-gradient(
		180deg,
		rgba(2, 1, 2, 1) 0%,
		rgba(8, 27, 51, 1) 50%,
		rgba(2, 1, 2, 1) 100%
	);

	font-family: "Roboto Mono", monospace;
}

.time,
.name h1,
.name p {
	margin: 0.1em;
	text-transform: uppercase;
	font-weight: lighter;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 0 2em;
	box-sizing: border-box;
}

svg {
	position: absolute;
	pointer-events: none;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	color: white;
}

.svg-container {
	height: 200px;
	width: 100%;
}

.options-container {
	width: 400px;
}

.btn {
	padding: 0.3em 0.5em;
	outline: none;
	font-size: 1.5em;
	border: 1px solid blue;
	font-weight: lighter;
	margin: 0.1em 0.05em;
	background: transparent;
	color: white;
	animation: shiny 20s cubic-bezier(0.23, 1, 0.32, 1) infinite alternate;
}

@keyframes shiny {
	0% {
		border-color: #00bcd4;
	}

	50% {
		border-color: #e91e63;
	}

	100% {
		border-color: #673ab7;
	}
}
