body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background: rgb(2, 1, 2);
	background: linear-gradient(
		180deg,
		rgba(2, 1, 2, 1) 0%,
		rgba(8, 27, 51, 1) 50%,
		rgba(2, 1, 2, 1) 100%
	);
}

svg {
	position: absolute;
	pointer-events: none;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.svg-container {
	height: 200px;
	width: 100%;
}

.options-container {
	width: 400px;
}

.btn-group {
	display: flex;
	justify-content: space-evenly;
}

.btn-group .btn:first-child {
	border-top-left-radius: 3em;
}

.btn-group .btn:last-child {
	border-bottom-right-radius: 3em;
}

.btn {
	padding: 0.3em 0.5em;
	outline: none;
	font-size: 2em;
	border: none;
	font-weight: lighter;
	width: 100%;
	margin: 0.1em 0.05em;
}
